<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{admin_base::layout(~{::section})}">
<head>
    <meta charset="ISO-8859-1">
    <title>E-Trains</title>
</head>
<body class="backImage">
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 offset-lg-9">
                <h1>Add Train</h1>
            </div>
            <div class="col-lg-8 offset-lg-8 mt-5">
                <div class="card p-4">
                    <form action="" th:action="@{add_train_now}" th:object="${train}" method="post">
                        <br /> Train Number: <input type="number" name="trainNo" th:value="${train.trainNo}"> <br/>
                        <br /> Train Name: <input type="text" name="trainName" th:value="${train.trainName}"> <br/>
                        <br /> From Station: <input type="text" name="fromStation" th:value="${train.fromStation}"><br />
                        <br /> To Station: <input type="text" name="toStation" th:value="${train.toStation}"><br />
                        <br /> Available: <input type="text" name="seats" th:value="${train.seats}"><br />
                        <br /> Fare (INR): <input type="text" name="fare" th:value="${train.fare}"><br />
                        <br /> <input type="submit" value="ADD TRAIN">
                    </form>
                </div>
            </div>
            <br/>
            <th:block th:if="${session.msg_alert}">
        <table class="tab brown hd">
            <tr>
                <td>[[${session.msg_alert}]]</td>
            </tr>
        </table>
        <th:block th:text="${@sessionService.removeMessageFromSession()}"></th:block>
    </th:block>
        </div>
    </div>
</section>
</body>
</html>