<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{admin_base::layout(~{::section})}">
<head>
    <meta charset="ISO-8859-1">
    <title>E-Trains</title>
</head>
<body class="backImage">
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="text-center">Hey, Admin ! Welcome to our new NITRTC Website</h1>
                <h1 class="text-center">Train Cancellation</h1>
            </div>
            <div class="col-lg-8 offset-lg-2 mt-5">
                <div class="card p-4">
                    <form action="" th:action="@{do_delete_train}" th:object="${train}" method="post">
                        Train Number:<input type="number" name="trainNo" th:value="${train.trainNo}"><br />
                        <br /> <input type="submit" value=" DELETE TRAIN ">
                    </form>
                </div>
            </div>
            <br/>
        </div>
    </div>
</section>
</body>
</html>